.revel{
    background-color: blueviolet;
    width: 25%;
    height: 500px;
    padding: 30px;
}
.esse{
    background-color: blueviolet;
    width: 25%;
    height: 500px;
    padding: 30px;
}
.lorem{
    background-color: blueviolet;
    width: 25%;
    height: 500px;
    padding: 30px;
}
#main{
   display: flex;
   color: yellowgreen;
   
   
}
.margin{
    margin: 30px;
}
ul, ol{
    margin-right: 100px;
}
.item{
    color: brown;
    font-size: 36px;
    display: flex;
    margin-left: 30px;
    background-color: aquamarine;
    width: 81%;
    padding: 30px;
}